<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      .blueText {color: blue;}
      #shipAreaStyle {background-color: #efefef; padding: 10px; margin-bottom: 40px; border: 1px solid;}
      .eachVessel {background-color: #FFF; margin-top: 10px; margin-bottom: 10px; padding: 0px 10px 5px 10px;}
    </style>
  </head>
  <body>
    <span id="root"></span>

    <script src="/static/bundles/index-build.js"></script>
  </body>
</html>
